body {
    text-align: center;
    font-family: "Fira Code", monospace;
    color: #F2F2F2;
    background-color: #262626;
}

.container-externo {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .container-externo {
        max-width: 100%;
        border-radius: 0;
    }
}

.container {
    padding-top: 1%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    border: 1px solid #0D0D0D;
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    filter: brightness(200%);
    filter: grayscale(60%);
}

.conteudo {
    width: 95%;
    padding: 0 5% 0 5% ;
    display: flex;
    flex-direction: column;
}

.conteudo p,
.conteudo button {
    color: #252526;
    margin-bottom: 10px;
}

.texto {
    font-size: 18px;
}

#totalRecebido {
    display: block;
    width: 100%;
    padding: 18px;
    margin-top: 10px;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1E2229;
    font-family: "Fira Code", monospace;
    text-transform: uppercase;
}

#totalRecebido:hover {
    background-color: #0D0D0D;
}

.nota {
    display: block;
    width: 100%;
    padding: 18px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-family: "Fira Code", monospace;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    background-color: #014A06;
    color: #fff !important;
}

.nota:hover {
    background-color: rgba(1, 74, 6, 0.9);
}

#doceSection, #trocoSection {
    display: block !important;
}

#doceA,
#doceB,
#doceC {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: #595959;
}

#doceA.disabled,
#doceB.disabled,
#doceC.disabled {
    background-color: #A6A6A6;
    cursor: not-allowed;
    pointer-events: none;
}

.doce-btn {
    background-color: #595959;
    color: #fff;

}

#voltarInicio {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 15px auto;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #0D0D0D;
    font-family: "Fira Code", monospace;
    cursor: pointer;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    padding: 2%;
}